<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cciet.biz.rbac.mapper.IAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cciet.biz.rbac.entity.Account">
        <result column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
        <result column="delete_user_id" property="deleteUserId" />
        <result column="delete_time" property="deleteTime" />
        <result column="create_org_id" property="createOrgId" />
        <result column="create_dep_id" property="createDepId" />
        <result column="version" property="version" />
        <result column="org_id" property="orgId" />
        <result column="dep_id" property="depId" />
        <result column="deleted" property="deleted" />
        <result column="account_name" property="accountName" />
        <result column="password" property="password" />
        <result column="head_sculpture" property="headSculpture" />
        <result column="nick_name" property="nickName" />
        <result column="password_update_time" property="passwordUpdateTime" />
        <result column="password_error_count" property="passwordErrorCount" />
        <result column="change_password" property="changePassword" />
        <result column="state" property="state" />
        <result column="deactivate_reason" property="deactivateReason" />
        <result column="disable_time" property="disableTime" />
        <result column="lock_time" property="lockTime" />
        <result column="final_activation_time" property="finalActivationTime" />
        <result column="auto_activation_time" property="autoActivationTime" />
        <result column="final_login_time" property="finalLoginTime" />
    </resultMap>

</mapper>
