<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cciet.biz.rbac.mapper.AccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cciet.biz.rbac.entity.Account">
        <result column="ID" property="id" />
        <result column="VERSION" property="version" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_USER_ID" property="createUserId" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_USER_ID" property="updateUserId" />
        <result column="DELETE_TIME" property="deleteTime" />
        <result column="DELETE_USER_ID" property="deleteUserId" />
        <result column="DELETED" property="deleted" />
        <result column="ACCOUNT_NAME" property="accountName" />
        <result column="PASSWORD" property="password" />
        <result column="PORTRAIT" property="portrait" />
        <result column="NICKNAME" property="nickname" />
        <result column="UPDATE_PWD_TIME" property="updatePwdTime" />
        <result column="WRONG_PWD_NUM" property="wrongPwdNum" />
        <result column="NEED_CHANGE_PWD" property="needChangePwd" />
        <result column="LAST_LOGIN_TIME" property="lastLoginTime" />
        <result column="STATE" property="state" />
        <result column="DISABLE_TIME" property="disableTime" />
        <result column="DISABLE_CAUSE" property="disableCause" />
        <result column="LOCAL_TIME" property="localTime" />
        <result column="AUTO_ACTIVATE_TIME" property="autoActivateTime" />
        <result column="ACTIVATE_TIME" property="activateTime" />
    </resultMap>

</mapper>
